<!--The content below is only a placeholder and can be replaced.-->
<div class="contain">
    <mat-toolbar color="accent" class="navbar">
      <div>Logo</div>
      <div>
        <!-- <mat-nav-list class="listItem">
           <a mat-list-item href="#" >Home</a>
           <a mat-list-item href="#">About</a>
           <a mat-list-item href="#" [matMenuTriggerFor]="menu">Services</a>
        </mat-nav-list> -->
        <span>Home</span>
        <span>About</span>
        <span><a href="#" mat-button [matMenuTriggerFor]="menu">Service</a></span>
      </div>
    </mat-toolbar>

    <!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button> -->
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <!-- <div style="text-align:center"> -->
      <!-- <h1>Welcome to {{ title }}!</h1>  -->
      <app-employee-list></app-employee-list>
      <!-- <app-employee-add></app-employee-add> -->
    <!-- </div> -->
    <div class="footer">
       <mat-toolbar color="accent">footer</mat-toolbar>
    </div>
</div>